<a href="https://colab.research.google.com/github/Benjamindelpino/Benjamin/blob/main/Learningtocode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tipos de codigo

In [2]:
#booleanos
bool()
True
False

False

In [ ]:
#numericos
int()
5
float()
5.5

In [1]:
#string
str()
'oi'

'oi'

In [ ]:
#lista
list()
[1,2,3]

[1, 2, 3]

In [3]:
#diccionario
dict()
{"a":1}

{'a': 1}

In [ ]:
dict[1]

dict[1]

In [ ]:
type('5.4')

str

In [8]:
type(5.4)

float

In [10]:
type({"a":1})

dict

## Operaciones matematicas

In [ ]:
#suma
3+3

6

In [ ]:
#potencia
3**3

27

In [ ]:
#division de aprte entera
15//2

7

In [ ]:
#division resto o modulo
3%2

1

In [ ]:
#llamar variable
nombre = 3
nombre

3

In [ ]:
#Python es case sensitive
Juan=9
juan=10
print(Juan)
print(juan)

9
10

## Indexacion de codigo

In [ ]:
"Python"[0]

'P'

In [ ]:
"Python"[-1]

'n'

In [ ]:
#slicing
"Python"[0:2]

'Py'

## Propiedades de string

In [ ]:
#Title
"hola esto es un titulo".title()

'Hola Esto Es Un Titulo'

In [ ]:
#Find
"hola esto es un titulo".find('es')

5

In [ ]:
#Uppercase
"hola esto es un titulo".upper()

'HOLA ESTO ES UN TITULO'

## Booleanos y operadores

In [ ]:
#booleanos
True
False

False

In [ ]:
mi_variable = 5
mi_variable

5

In [ ]:
mi_variable == 5

True

In [ ]:
mi_variable == 6 ## el doble igual es para preguntar

False

In [ ]:
#operador de desigualdad
mi_variable != 6 #Me dice true pq mi_variable es 5, entonces esto efectivamente es una desigualdad

True

In [ ]:
#Operadores de mayor y menor
mi_variable > 5

False

In [ ]:
mi_variable > 4

True

In [ ]:
mi_variable >= 5

True

In [ ]:
#Operadores logicos
not True

False

In [ ]:
not False

True

In [ ]:
# Los booleanos, el 0 lo toma como true y el 1 como false
bool(0)

False

In [ ]:
# And (y) Que las condiciones se cumplan a la vez
# True and True = True
# True and False = False
# False and True = False
# False and False = False

True and True
True & True

True

In [ ]:
(4==4) and (5==5)

True

In [ ]:
# Or (y) | Me dice que alguno de los dos debe cumplirse
# True or True = True
# True or False = True
# False or True = True
# False or False = False

True or False
True | False

True

In [ ]:
#Operadores de pertenencia --> Me dice si un objeto esta dentro de un string o si un numero esta dentro de una lista
"a" in "hola"

True

In [ ]:
5 in [1,2,3,4,5]

True

In [ ]:
5 not in [1,2,3,4,5]

False

## Lista

### Conceptos basicos de las listas

In [ ]:
# Las listas tienen orden
[1,2,3]==[3,2,1]

False

In [ ]:
# Son heterogeneas
[1,2,3,"a"]

[1, 2, 3, 'a']

In [ ]:
# Son repetidas
[1,2,2,2,2,3]

[1, 2, 2, 2, 2, 3]

In [ ]:
# Listas anidables
[[1,2,3],["a","b","c"],[True,False,True]]

[[1, 2, 3], ['a', 'b', 'c'], [True, False, True]]

In [ ]:
Lista1=[1,2,3,4]
Lista1[0]

1

In [ ]:
Lista1[-1] #Esto es por la numeracion inversa

4

### Metodos y funciones que NO modifican las listas

In [ ]:
#Metodos Usuales --> Me devuelve el largo de la lista. Es decir la cantidad de objetos.
len(Lista1)

4

In [ ]:
min(Lista1) #Me da el valor minimo de la lista

1

In [ ]:
max(Lista1) #Me da el valor maximo de la lista

4

In [ ]:
sum(Lista1) #Me da la suma de los valores de la lista

10

### Metodos y funciones que SI modifican las listas

In [ ]:
lista2=[4,5,6,7]
print("Estas son mis dos listas agrupads",Lista1+lista2)

Estas son mis dos listas agrupads [1, 2, 3, 4, 4, 5, 6, 7]

In [ ]:
#Lista.append me agrega un elemento a la lista
Lista1.append(5)
Lista1

[1, 2, 3, 4, 5]

In [ ]:
#Lista.extend me agrega una lista de elementos a la lista que ya tengo
Lista1.extend([6,7,8])
Lista1

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Eliminar un elemento
Lista1.remove(5)
Lista1

[1, 2, 3, 4, 6, 7, 8]

In [ ]:
#Ordenar una lista (Esta ya estaba ordenada)
Lista1.sort()
Lista1

[1, 2, 3, 4, 6, 7, 8]

In [ ]:
#Invertir el orden
Lista1.reverse()
Lista1

[8, 7, 6, 4, 3, 2, 1]

In [ ]:
#Armar una copia de una lista para agregar o sacar elementos
Lista3=Lista1.copy()
Lista3.remove(8)
Lista3

[7, 6, 4, 3, 2, 1]

## Diccionarios

Es una coleccion de pares formados por una clave y valor asociado a la clave

La diferencia con la lista es que con diccionario le puedo poner nombre (clave) a los valores.

In [ ]:
#Sin orden
Dict1={"a":1,"b":2,"c":3}
Dict1

Dict2={"a":1,"b":2,"c":3}
Dict2

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
Dict1==Dict2

True

In [ ]:
Dict1["a"]

1

In [ ]:
Dict1.get("a")

1

In [ ]:
Negocio={"Productos":{"Auto":1, "Avion":2},"Servicios":{"Agua":3,"Luz":4}}
Negocio.get("Productos")

{'Auto': 1, 'Avion': 2}

In [ ]:
Negocio["Productos"]["Auto"]

1

In [ ]:
min(Negocio["Productos"].keys())

'Auto'

In [ ]:
Negocio={"Productos":{"Auto":1, "Avion":2},"Servicios":{"Agua":3,"Luz":4}}
Negocio.keys()

dict_keys(['Productos', 'Servicios'])

In [ ]:
Negocio2={'a':10, 'b': 20, 'c': 30}
Negocio3={'d': 40, 'e': 50, 'f': 60}
Negocio2.update(Negocio3)
Negocio2
#Me permite agregar un diccionario a otro

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

In [ ]:
#.pop es para eliminar en diccionarios
Negocio2.pop("a")

10

In [ ]:
#.del es lo mismo pero no devulve. Elimina pero no devuelve
del Negocio2["b"]

## Estructura de flujos

### Ejemplo If

In [ ]:
#Ejemplo If
persona1= "Ramona"
persona2= "Clara"
persona3= "Susana"

if persona1=="Susana": #Uso un operador lógico (==) para comparar si se es igual a Susana el nombre
    print("Hola Susana te estamos llamando queremos jugar")
    print("Susana es la persona 1")
elif persona2=="Susana":
    print("Hola Susana te estamos llamando queremos jugar")
    print("Susana es la persona 2")
elif persona3=="Susana":
    print("Hola Susana te estamos llamando queremos jugar")
    print("Susana es la persona 3")
else:
    print("Susana no está")

Hola Susana te estamos llamando queremos jugar
Susana es la persona 3

In [ ]:
#Ejemplo If
persona1= "Ramona"
persona2= "Clara"
persona3= "Maria"

if persona1=="Susana": #Uso un operador lógico (==) para comparar si se es igual a Susana el nombre
    print("Hola Susana te estamos llamando queremos jugar")
    print("Susana es la persona 1")
elif persona2=="Susana":
    print("Hola Susana te estamos llamando queremos jugar")
    print("Susana es la persona 2")
elif persona3=="Susana":
    print("Hola Susana te estamos llamando queremos jugar")
    print("Susana es la persona 3")
else:
    print("Susana no está")

Susana no está

In [ ]:
'''
Identacion
Cuando usamos if, todo lo que este dentro de una condicion if, elif o else, tiene que estar identado.
Es decir, hay que poner 4 espacios antes de cada linea de codigo que este dentro de la condicion.
'''

In [ ]:
count=0
while count<5:
    count=count+1
    print(count)

'''
Lo que pasa aca, es que cuenta  a partir de 0+1
hasta que que count es igual a 5. La lista termina en 5 pq se da
cuando el count anterior es 4 (cumple con el while) y luego
suma 1 y llega a 5. Ahi el count pasa a ser 5 y se corta la funcion
'''

1
2
3
4
5

### For Iterativo

In [11]:
for num in [1,2,3,4,5]:
 print(num**2)

1
4
9
16
25

In [16]:
for num in range(5):  #Con esta linea de codigo la repeticion del codigo de la siguiente linea.
    print("User",num)

User 0
User 1
User 2
User 3
User 4

In [17]:
for num in range(1,5):  #Podemos poner dos argumentos dentro del range, para que empieze de 1 y termine uno antes del que le decimos.
    print("User",num)

User 1
User 2
User 3
User 4

In [18]:
for num in range(0,10,2):  #Tambien se puede incluir un tercer argumento para incluir un "step", por ejemplo que vaya de dos en dos.
    print("User",num)

User 0
User 2
User 4
User 6
User 8

In [19]:
for num in range(0,6):
    print("User",num, (num)*".") #Tambien podemos sumar un argumento aca para agregarle caracteristicas al output.

User 0
User 1 .
User 2 ..
User 3 ...
User 4 ....
User 5 .....

In [27]:
# Ahora agregamos if al for iterativo:
successful = False
for num in range(5):
    print("User",num)
    if successful:            #En este caso, como el successful es False, el if no frena el for iterativo y sigue hasta su fin.
        print("Successful")
        break

User 0
User 1
User 2
User 3
User 4

In [28]:
successful = True
for num in range(5):
    print("User",num)
    if successful:            # En este caso el successful es True, entonces el for se rompe despues de su #
        print("Successful")   # primer loop y termina con la segunda identacion de codigo. #
        break

User 0
Successful

In [30]:
successful = False
for num in range(5):
    print("Attempt",num)
    if successful:
        print("Successful")
        break

#Como en esta linea de codigo, el For iterativo no tiene una terminacion temprana, es decir, se completa, podemos agregar un else:

else:
    print("Attempted 5 times and failed")

Attempt 0
Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempted 5 times and failed

In [36]:
successful = False
for x in range(5):
    print("Attempt",x)
    if successful:
        print("Successful")
        break

#Aca como succesful es true, el For se termina antes y el else no corre.

else:
    print("Attempted 5 times and failed")

Attempt 0
Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempted 5 times and failed

In [32]:
#Nested Loops:

for x in range(5):
    for y in range(3):
        print(f"({x},{y})") # Estas son formatted strings

'''
En la primer iteracion del primer loop, el segundo loop se ejecuta 3 veces.
Asi, para cada iteracion del primer loop. Entonces, nos quedan 5 iteraciones del primer
loop, de las cuales cada una contiene 3 iteraciones del segundo loop
'''

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)
(4,0)
(4,1)
(4,2)

In [42]:
# Las strings tambien son iterables con el for, no solo el range(). Aca vemos un ejemplo:

for x in "Python":
    print(x)

P
y
t
h
o
n

In [38]:
#Tambien se puede hacer con lista:

for x in [1,2,3,4,5]:
    print(x)

#Algunos tipos iterables son tipos complejos. Algunos de ellos son el Range y las Listas. Las strings son un tipo basico iterables.

1
2
3
4
5

In [47]:
#EJERCICIO
for x in range(1,10):
    if x%2==0:           #Recordemos que aca el "0" quiere decir False, es decir, si x NO es divisible en 2, print(x)
        print(x)
print("We have 4 even numbers")

2
4
6
8
We have 4 even numbers

## FUNCIONES

Es un bloque de codigo que asociado a un nombre que puedo ejecutar muchas veces

In [ ]:
#Ejemplo funcion saludor
def saludar():
    print("Hola, ¿Como estas?")
    return "Este es mi saludo"

saludo=saludar()
print(saludo)

Hola, ¿Como estas?
Este es mi saludo

In [ ]:
saludo

'Este es mi saludo'

In [ ]:
def sumar(a,b):
  print("este es mi valor a",a)
  print("este es mi valor b",b)
  print("la suma es",a+b)
  return a+b

In [ ]:
sumar(100,200)

este es mi valor a 100
este es mi valor b 200
la suma es 300

300

In [ ]:
Calculadora=sumar(20,200)

este es mi valor a 20
este es mi valor b 200
la suma es 220

In [ ]:
Calculadora

220

In [ ]:
def sumar(a,b):
  print("este es mi valor a",a)
  print("este es mi valor b",b)
  print("la suma es",a+b)
  return (a+b,a,b)

In [ ]:
sumar(20,200)

este es mi valor a 20
este es mi valor b 200
la suma es 220

(220, 20, 200)

In [14]:
def generador():
    n = 1
    yield n

    n += 1
    yield n

    n += 1
    yield n

for i in generador():
    print(i)

1
2
3

## Importar Libreria

In [ ]:
import pandas as pd
# El "as pd" es para acortar el nomnbre para cuando necesitemos llamar a la libreria

### Leer archivos

In [ ]:
pd.read_csv("sample_data/california_housing_train.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
with open("/content/sample_data/README.md","r") as f:
  print(f.read())

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

## BUCLES

while, for, break, continue

In [ ]:
#El while ya lo vimos en "Ejemplo if"

In [ ]:
'''
El for permite iterar clases iterables, ejecutando la
sección de código tantas veces como elementos tiene el iterable.
'''

for HOLA in range(3):
    print(HOLA)

0
1
2

In [ ]:
print(HOLA)
#Vemos que aca solo nos devuelve el valor final del loop.
'''
This behavior demonstrates variable scope in Python - the
loop variable HOLA remains accessible after the loop ends,
holding its final value.
'''

2

In [ ]:
for i in range(5):
    if i == 1:
        continue
    print(i)
'''
Aca el if + continue hacen que la secuencia se saltee
el numero 1 y continue con los valores siguientes.
'''

0
2
3
4

'\nAca el if + continue hacen que la secuencia se saltee \nel numero 1 y continue con los valores siguientes.\n'

In [ ]:
#Por último, el break rompe la ejecución del bucle, saliendo del mismo.


x = 0
while True:

    print(x)

    if x == 3:
        break

    x += 1

0
1
2
3

Fijarse en las identaciones del codigo de arriba.
La funcion comienza con la variable x y la funcion de while.
De ahi surge la primera identacion que contiene el print, el if y la condicion de x+=1.
El "if" tiene otra identacion que adentro tiene el break. El Break solo aplica para cuando se cumple el if.

###Conclusiones:

El for inicia un bucle por un periodo predeterminado, wl while inicia un bucle que se ejecuta hasta que se cumple una condicion.

## Clases

El uso de (class) nos permite crear clases. Las clases son el núcleo de la programación orientada a objetos, y son una especie de estructura de datos que agrupa un conjunto de funciones (métodos) y variables (atributos).

In [ ]:
class MiClase:
    def __init__(self):
        print("Creando objeto de MiClase")

objeto = MiClase()

Creando objeto de MiClase

Hay muchas mas posibilidades con las clases pero las dejamos para mas adelante.

## Excepciones

Nos permiten tratar el que hacer cuando las cosas salen como no esperabamos.

In [ ]:
x = "10"

valor = None
try:
    valor = int(x)
except Exception as e:
    print("Hubo un error:", e)
finally:
    print("El valor es", valor)

El valor es 10

In [ ]:
x = "a"

valor = None
try:
    valor = int(x)
except Exception as e:
    print("Hubo un error:", e)
finally:
    print("El valor es", valor)

Hubo un error: invalid literal for int() with base 10: 'a'
El valor es None

Vemos que aca nos devuelve que "hubo un error" pq "a" no es un valor numerico int(). Tambien saltaria un error si la variable x la definimos como un numero decimal, ya que int() solo acepta numeros enteros.

El try, le dice que devuelva el int(x) de ser posible. Si no se puede, que devuelva "Hubo un error","El valor es None"