<a href="https://colab.research.google.com/github/Benjamindelpino/Benjamin/blob/main/Learningtocode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tipos de codigo

In [ ]:
#booleanos
bool()
True
False

In [ ]:
#numericos
int()
5
float()
5.5

In [ ]:
#string
str()
'oi'

In [1]:
#lista
list()
[1,2,3]

[1, 2, 3]

In [16]:
#diccionario
dict()
 {"a":1}

IndentationError: unexpected indent (<ipython-input-16-4ad2a0607a80>, line 3)

In [7]:
dict[1]

dict[1]

In [10]:
type('5.4')

str

In [17]:
type(5.4)

float

## Operaciones matematicas

In [18]:
#suma
3+3

6

In [19]:
#potencia
3**3

27

In [20]:
#division de aprte entera
15//2

7

In [21]:
#division resto o modulo
3%2

1

In [24]:
#llamar variable
nombre = 3
nombre

3

In [25]:
#Python es case sensitive
Juan=9
juan=10
print(Juan)
print(juan)

9
10

## Indexacion de codigo

In [27]:
"Python"[0]

'P'

In [28]:
"Python"[-1]

'n'

In [29]:
#slicing
"Python"[0:2]

'Py'

## Propiedades de string

In [35]:
#Title
"hola esto es un titulo".title()

'Hola Esto Es Un Titulo'

In [36]:
#Find
"hola esto es un titulo".find('es')

5

In [37]:
#Uppercase
"hola esto es un titulo".upper()

'HOLA ESTO ES UN TITULO'

## Booleanos y operadores

In [38]:
#booleanos
True
False

False

In [40]:
mi_variable = 5
mi_variable

5

In [41]:
mi_variable == 5

True

In [42]:
mi_variable == 6 ## el doble igual es para preguntar

False

In [44]:
#operador de desigualdad
mi_variable != 6 #Me dice true pq mi_variable es 5, entonces esto efectivamente es una desigualdad

True

In [45]:
#Operadores de mayor y menor
mi_variable > 5

False

In [46]:
mi_variable > 4

True

In [47]:
mi_variable >= 5

True

In [48]:
#Operadores logicos
not True

False

In [49]:
not False

True

In [51]:
# Los booleanos, el 0 lo toma como true y el 1 como false
bool(0)

False

In [53]:
# And (y) Que las condiciones se cumplan a la vez
# True and True = True
# True and False = False
# False and True = False
# False and False = False

True and True
True & True

True

In [54]:
(4==4) and (5==5)

True

In [55]:
# Or (y) | Me dice que alguno de los dos debe cumplirse
# True or True = True
# True or False = True
# False or True = True
# False or False = False

True or False
True | False

True

In [56]:
#Operadores de pertenencia --> Me dice si un objeto esta dentro de un string o si un numero esta dentro de una lista
"a" in "hola"

True

In [58]:
5 in [1,2,3,4,5]

True

In [59]:
5 not in [1,2,3,4,5]

False

## Lista

### Conceptos basicos de las listas

In [61]:
# Las listas tienen orden
[1,2,3]==[3,2,1]

False

In [62]:
# Son heterogeneas
[1,2,3,"a"]

[1, 2, 3, 'a']

In [64]:
# Son repetidas
[1,2,2,2,2,3]

[1, 2, 2, 2, 2, 3]

In [65]:
# Listas anidables
[[1,2,3],["a","b","c"],[True,False,True]]

[[1, 2, 3], ['a', 'b', 'c'], [True, False, True]]

In [67]:
Lista1=[1,2,3,4]
Lista1[0]

1

In [68]:
Lista1[-1] #Esto es por la numeracion inversa

4

### Metodos y funciones que NO modifican las listas

In [69]:
#Metodos Usuales --> Me devuelve el largo de la lista. Es decir la cantidad de objetos.
len(Lista1)

4

In [70]:
min(Lista1) #Me da el valor minimo de la lista

1

In [72]:
max(Lista1) #Me da el valor maximo de la lista

4

In [73]:
sum(Lista1) #Me da la suma de los valores de la lista

10

### Metodos y funciones que SI modifican las listas

In [75]:
lista2=[4,5,6,7]
print("Estas son mis dos listas agrupads",Lista1+lista2)

Estas son mis dos listas agrupads [1, 2, 3, 4, 4, 5, 6, 7]

In [76]:
#Lista.append me agrega un elemento a la lista
Lista1.append(5)
Lista1

[1, 2, 3, 4, 5]

In [77]:
#Lista.extend me agrega una lista de elementos a la lista que ya tengo
Lista1.extend([6,7,8])
Lista1

[1, 2, 3, 4, 5, 6, 7, 8]

In [78]:
#Eliminar un elemento
Lista1.remove(5)
Lista1

[1, 2, 3, 4, 6, 7, 8]

In [79]:
#Ordenar una lista (Esta ya estaba ordenada)
Lista1.sort()
Lista1

[1, 2, 3, 4, 6, 7, 8]

In [80]:
#Invertir el orden
Lista1.reverse()
Lista1

[8, 7, 6, 4, 3, 2, 1]

In [83]:
#Armar una copia de una lista para agregar o sacar elementos
Lista3=Lista1.copy()
Lista3.remove(8)
Lista3

[7, 6, 4, 3, 2, 1]

## Diccionarios

Es una coleccion de pares formados por una clave y valor asociado a la clave

La diferencia con la lista es que con diccionario le puedo poner nombre (clave) a los valores.

In [86]:
#Sin orden
Dict1={"a":1,"b":2,"c":3}
Dict1

Dict2={"a":1,"b":2,"c":3}
Dict2

{'a': 1, 'b': 2, 'c': 3}

In [87]:
Dict1==Dict2

True

In [90]:
Dict1["a"]

1

In [91]:
Dict1.get("a")

1

In [92]:
Negocio={"Productos":{"Auto":1, "Avion":2},"Servicios":{"Agua":3,"Luz":4}}
Negocio.get("Productos")

{'Auto': 1, 'Avion': 2}

In [93]:
Negocio["Productos"]["Auto"]

1

In [108]:
min(Negocio["Productos"].keys())

'Auto'

In [109]:
Negocio={"Productos":{"Auto":1, "Avion":2},"Servicios":{"Agua":3,"Luz":4}}
Negocio.keys()

dict_keys(['Productos', 'Servicios'])

In [118]:
Negocio2={'a':10, 'b': 20, 'c': 30}
Negocio3={'d': 40, 'e': 50, 'f': 60}
Negocio2.update(Negocio3)
Negocio2
#Me permite agregar un diccionario a otro

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

In [119]:
#.pop es para eliminar en diccionarios
Negocio2.pop("a")

10

In [120]:
#.del es lo mismo pero no devulve. Elimina pero no devuelve
del Negocio2["b"]

## Estructura de flujos

### Ejemplo If

In [121]:
#Ejemplo If
persona1= "Ramona"
persona2= "Clara"
persona3= "Susana"

if persona1=="Susana": #Uso un operador lógico (==) para comparar si se es igual a Susana el nombre
    print("Hola Susana te estamos llamando queremos jugar")
    print("Susana es la persona 1")
elif persona2=="Susana":
    print("Hola Susana te estamos llamando queremos jugar")
    print("Susana es la persona 2")
elif persona3=="Susana":
    print("Hola Susana te estamos llamando queremos jugar")
    print("Susana es la persona 3")
else:
    print("Susana no está")

Hola Susana te estamos llamando queremos jugar
Susana es la persona 3

In [122]:
#Ejemplo If
persona1= "Ramona"
persona2= "Clara"
persona3= "Maria"

if persona1=="Susana": #Uso un operador lógico (==) para comparar si se es igual a Susana el nombre
    print("Hola Susana te estamos llamando queremos jugar")
    print("Susana es la persona 1")
elif persona2=="Susana":
    print("Hola Susana te estamos llamando queremos jugar")
    print("Susana es la persona 2")
elif persona3=="Susana":
    print("Hola Susana te estamos llamando queremos jugar")
    print("Susana es la persona 3")
else:
    print("Susana no está")

Susana no está

In [ ]:
'''
Identacion
Cuando usamos if, todo lo que este dentro de una condicion if, elif o else, tiene que estar identado.
Es decir, hay que poner 4 espacios antes de cada linea de codigo que este dentro de la condicion.
'''

In [125]:
count=0
while count<5:
    count=count+1
    print(count)

'''
Lo que pasa aca, es que cuenta  a partir de 0+1
hasta que que count es igual a 5. La lista termina en 5 pq se da
cuando el count anterior es 4 (cumple con el while) y luego
suma 1 y llega a 5. Ahi el count pasa a ser 5 y se corta la funcion
'''

1
2
3
4
5

### For Iterativo

In [128]:
for num in [1,2,3,4,5]
 print(num**2)

SyntaxError: expected ':' (<ipython-input-128-141e3085f806>, line 1)

### FUNCIONES

Es un bloque de codigo que asociado a un nombre que puedo ejecutar muchas veces

In [131]:
#Ejemplo funcion saludor
def saludar():
    print("Hola, ¿Como estas?")
    return "Este es mi saludo"

saludo=saludar()
print(saludo)

Hola, ¿Como estas?
Este es mi saludo

In [132]:
saludo

'Este es mi saludo'

In [133]:
def sumar(a,b):
  print("este es mi valor a",a)
  print("este es mi valor b",b)
  print("la suma es",a+b)
  return a+b

In [134]:
sumar(100,200)

este es mi valor a 100
este es mi valor b 200
la suma es 300

300

In [136]:
Calculadora=sumar(20,200)

este es mi valor a 20
este es mi valor b 200
la suma es 220

In [137]:
Calculadora

220

In [138]:
def sumar(a,b):
  print("este es mi valor a",a)
  print("este es mi valor b",b)
  print("la suma es",a+b)
  return (a+b,a,b)

In [140]:
sumar(20,200)

este es mi valor a 20
este es mi valor b 200
la suma es 220

(220, 20, 200)

## Importar Libreria

In [141]:
import pandas as pd
# El "as pd" es para acortar el nomnbre para cuando necesitemos llamar a la libreria

### Leer archivos

In [146]:
pd.read_csv("sample_data/california_housing_train.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [147]:
with open("/content/sample_data/README.md","r") as f:
  print(f.read())

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).